//------------------------------------------------------------------------------
// Colors
//------------------------------------------------------------------------------

// o-color-1 Primary
// o-color-2 Secondary
// o-color-3 Extra
// o-color-4 Whitish
// o-color-5 Blackish


$o-color-palettes: map-merge($o-color-palettes,
        ('now-1': (
                'o-color-1': #44403C,
                'o-color-2': #A1A1A1,
                'o-color-3': #D4CABE,
                'o-color-4': #FAF8F5,
                'o-color-5': #171411,

                'success': #688E30,
                'info': #8688B8,
                'warning': #EC8A2A,
                'danger': #DE5246,                
            ),          
        ));

//------------------------------------------------------------------------------
// Website customizations
//------------------------------------------------------------------------------

$o-website-values-palettes: (
    (
        'color-palettes-name': 'now-1',

        'font': 'SYSTEM_FONTS',

        'btn-secondary-outline': true,

        // 'header-font-size': (20 / 16) * 1rem,
        // 'font': 'Roboto',
        // 'headings-font': 'Darker Grotesque',
        // 'navbar-font': 'Darker Grotesque',
        // 'buttons-font': 'Roboto',
        // 'footer-template': 'minimalist',
        'border-radius': 0,
        'border-radius-sm': 0,
        'border-radius-lg': 0,
        'btn-border-radius': 0,
        'btn-border-radius-sm': 0,
        'btn-border-radius-lg': 0,
        'badge-border-radius': 0,
        'badge-border-radius-sm': 0,
        'badge-border-radius-lg': 0,
        'input-border-radius': 0,
        'input-border-radius-sm': 0,
        'input-border-radius-lg': 0,                 
        'btn-padding-y': .474rem,
        'btn-padding-x': 1.25rem,
        'btn-padding-y-lg': .4rem,
        'btn-padding-x-lg': 2rem,

    ),
);        

$o-selected-color-palettes-names: append($o-selected-color-palettes-names, 'now-1');

$o-color-palettes-compatibility-indexes: (
    1: 'now-1',
    2: 'generic-1',
    3: 'generic-2',
);